<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p>Welcome to SkillSync your request has been approved:
        </p>
        <a href="{{link}}">accept</a>
    </body>
</html>