<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p>Welcome to SkillSync click this link to activate your accout:
        </p>
        <a href="{{link}}">Activate</a>
    </body>
</html>